<div class="position-relative container">
  <div class="row justify-content-center">
    <div class="card mt-sm-3 col-md-8">
      <div class="card-body">
        <h3 class="mb-2">Repositories Search</h3>
        <div class="form-group">
          <label for="" class="form-label text-success" *ngIf="search"><strong>Search For: </strong>{{search}}</label>
          <div class="input-group mt-2">
            <input type="text" name="" id="" class="form-control searchInput" [(ngModel)]="search" (keyup)="searchRepos($event)"
              placeholder="Type here">
            <div class="input-group-append">
              <span class="input-group-text bg-success text-light searchBtn" (click)="searchRepos($event)">Search</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="left:0; z-index:10;">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="list-group" *ngIf="results">
            <a [href]="item.html_url" target="_blank" class="p-3 list-group-item list-group-item-action flex-column align-items-start" *ngFor="let item of results">
              <div class="media">
                <img src="{{item.owner.avatar_url}}" alt="" class="mr-3 rounded align-self-center img-fluid" style="width: 70px;">
                <div class="media-body align-self-center">
                  <h5 class="m-0">{{item.name}} -> {{item.full_name}}</h5>
                  {{item.description}}
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- Positioning div -->
